<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />

	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}">Bienvenidos a la página principal</h2>
		<h3 th:text="#{privatePartWeb.message}">Bienvenido a tu zona privada</h3>
		<p th:text="#{userAuthenticatedAs.message}">
			Usuario Autenticado como :
		</p>
		<b sec:authentication="principal.username" th:inline="text"></b>
		
	</div>

	<footer th:replace="fragments/footer" />

</body>
</html>